*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{

    display: flex;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    background-color: rgb(19,34,53);
}
header #image{

    height: 95%;
    width: 10vw; 
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu{

    display: flex;
    width: 55%;
    justify-content: space-between;    
    
}

.menu-faketrigger{

    display: none;
}


#icon{

    display: flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;
}

header  a{

    cursor: pointer;
    color: aliceblue;

}

main{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-top: 62.2px; 
    background-color: rgb(19,34,53);
    color: whitesmoke;
}

.header-navigation-father{

    display: flex;
    width: 100vw;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}

main .two-color {
    background: -webkit-linear-gradient(left, rgb(109, 219, 210), rgb(114, 81, 81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.box-main{

    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    padding: 0.9% 1%;
    gap: 2rem;
}

.box-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 20px;

}

.box-image  a img {

    
    height: 80%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
/* Segunda caixa*/
main .box-main p {
    font-size: 1.5rem;
}

main .box-main h1{
    font-size: 2.5rem;
}

main .box-main span{
    font-size: 1.2rem;
}

main .box-main button{
    width: 30%;
    height: 5vh;
    color: black;
    border-radius: 16px;
    font-size: 1rem;
    background-color:  rgb(255,255,255);;
}

main .box-main button:hover{
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}

/* Second coteiner */

main .box-father{

    display: flex;
    width: 100vw;

}

main .box-son{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    padding: 0.9% 1%;
    gap: 2rem;
}

main .box-son button{

    width: 30%;
    height: 5vh;
    color: black;
    border-radius: 16px;
    font-size: 1rem;
    background-color:  rgb(255,255,255);;
}

main .box-son button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}

main .box-son2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap:15px;
}

main .box-son2 button{

    width: 60%;
    height: 5vh;
    color: black;
    border-radius: 16px;
    font-size: 1rem;
    background-color:  rgb(255,255,255);;
}

main .box-son2 button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}



/* Vamos convensar*/

main .box-end{

    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    }

.baseboard{

    display: flex;
    flex-direction: column;
    height:45vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(19,34,53);
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}



/* RESPONSIVIDADE*/

@media screen and ( max-device-width: 480px){

    header{

        height: 12vh;
}

#image{

    height: 10%;
    width: 45%;
}

nav #menu{

    display: none;
    margin-top: 15px;
    margin-left: 20px;
    gap: 7px;
}

nav .menu-lines{
    
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

nav .menu-lines span{

    display: flex;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
    background-color: whitesmoke;
    border-radius: 3px;
    transition: 0.6s;
}

nav .menu-faketrigger{

    display: block;
    position: absolute;
    z-index: 1000;
    width: 30px;
    height: 3px;
    opacity: 0;
}

nav .menu-faketrigger:checked~#menu {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height:50% ; 
    padding-top:25px ;
    font-size: 0.6rem;
    
}

nav .menu ul li {

    padding: 10px 30px;
}

nav .menu  li a{

    text-decoration: none;
}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){

    transform-origin: 0% 0%;
    transform: rotate(25deg) scaleX(1);

}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){

    opacity: 0;
}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){

    
    transform-origin: 0% 100%;
    transform: rotate(-25deg) scaleX(1);

}

#icon{

    display: none;
}

header  a{

    cursor: pointer;
    color: whitesmoke;

}

main{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-top: 55px;
    background-color: rgb(19,34,53);
    color: whitesmoke;
}

.header-navigation-father{

    display: flex;
    height: 100%;
    width: 100vw;

}

main .two-color {
    background: -webkit-linear-gradient(left, rgb(109, 219, 210), rgb(81, 114, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


main .box-main{

    display: flex;
    flex-direction: column;
    height: 61vh;
    width: 50%;
    padding: 0.9% 1%;
    gap: 1rem;
}
main .box-main h2{

    font-size: 0.9rem;
}

main .box-main span{

    font-size: 0.5rem
}
/* LADO DIREITO, PRIMEIRA CAIXA*/

.box-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white;
    height: 50vh;
    width: 50vw;
    gap: 20px;

}
.box-image h2{

    display: flex;
    text-align: center;
    font-size: 0.9rem;
}

.box-image img {

    
    height: 50%;
    width: 80%;
    background-color: rgb(255, 255, 255);

}

main .box-main p {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: 15%;
}

main .box-main h1{

    font-size: 0.9rem;
    height: 15%;
    font-weight: 300;
}

main .box-main span{

    font-size: 0.8rem;
    height: 40%;
}

main .box-main button{

    width:100%;
    height: 4vh;
    color: black;
    border-radius: 16px;
    font-size: 0.6rem;
    background-color:  rgb(255,255,255);;
}

main .box-main button:hover{
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}
/*Segunda caixa */

main .box-father{

    display: flex;
    width: 100vw;
}

main .box-son{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    padding: 0.9% 1%;
    gap: 2rem;
}

main .box-son h2{

    font-size: 1rem;
 }

main .box-son button{

    width: 80%;
    height: 5vh;
    color: black;
    border-radius: 16px;
    font-size: 0.6rem;
    background-color:  rgb(255,255,255);;
}

main .box-son button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}

/*LADO DIREITO */

main .box-son2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap:25px;
    
}

main .box-son2 h2{

    font-size: 0.9rem;
}

main .box-son2 button{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: black;
    border-radius: 16px;
    font-size: 0.6rem;
    background-color:  rgb(255,255,255);;
}

main .box-son2 button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}

/*Vamos conversar */

main .box-end{

    display: flex;
    flex-direction: column;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

/*footer*/

.baseboard{

    display: flex;
    flex-direction: column;
    height:45vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    gap: 15px;
    background-color: rgb(19,34,53);
}

.baseboard h2{

    font-size: 0.9rem;    
}

}

@media (min-width: 481px) and (max-width: 725px){

    header{

        display: flex;
        height: 10vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: rgb(19,34,53);

    }

#image{

    height: 100%;
    width: 25%;
}

nav{

    display: none;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

#icon{

    display:none;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.2rem;


}

header  a{

    cursor: pointer;
    color: whitesmoke;

}

/* PRIMEIRA CAIXA*/

main{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-top: 55px;
    background-color: rgb(19,34,53);
    color: whitesmoke;
}

.header-navigation-father{

    display: flex;
    height: 100%;
    width: 100vw;

}

main .two-color{
    background: -webkit-linear-gradient(left, rgb(109, 219, 210), rgb(114, 81, 81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

main .box-main p{

    font-size: 1remS;
}

/*PRIMEIRA CAIXA DO DIREITO*/

main .box-main{

    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50%;
    padding: 0.9% 1%;
    gap: 1rem;
    margin-top: 10px;
    font-size: 0.2rem;
}

main .box-main h2{

    font-size: 1rem;
    
}

main .box-main p{

    font-size: 1rem;
}

main .box-main span{

    font-size: 0.8rem;
}

main .box-main button{

    height: 5vh;
    width: 80%;
    font-size: 0.7rem;
}

main .box-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    gap: 30px;

}

main .box-image h2{

    font-size: 1rem;
}

main .box-image a img{

    height: 70%;
    width: 90%;
    background-color: rgb(255, 255, 255);
}


/* Segundo coteiner */

main .box-son h2{

    font-size: 1rem;
    text-align: center; 
}

main .box-son button{

    width: 80%;
    font-size: 0.8rem;
    
}

main .box-son p{

    font-size: 0.8rem;
}

main .box-son2{

    align-items: center;
    justify-content: baseline; 
    
}

main .box-son2 h2{

    font-size: 1rem;
}
main .box-son2 p{

    font-size: 0.8rem;
}

main .box-son2 button{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7rem;
}

main .box-son2 button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}

}

@media (min-width: 725px) and (max-width: 1000px){

    header{

        display: flex;
        height: 10vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: rgb(19,34,53);

    }

#image{

    height: 100%;
    width: 11%;
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#icon{

    display:none;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;


}

header  a{

    cursor: pointer;
    color: aliceblue;

}
.style-button{

    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255,255,255)
}

main{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-top: 55px;
    background-color: rgb(19,34,53);
    color: whitesmoke;
}

.header-navigation-father{

    display: flex;
    height: 100%;
    width: 100vw;

}

main .two-color{
    background: -webkit-linear-gradient(left, rgb(109, 219, 210), rgb(114, 81, 81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/*PRIMEIRA CAIXA DO LADO DIREITO*/

main .box-main{

    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50%;
    padding: 0.9% 1%;
    gap: 2rem;
}

main .box-main h2{

    font-size: 1rem;
    
}

main .box-main span{

    font-size: 0.9rem;
}

main .box-main button{

    height: 5vh;
    width: 80%;
    font-size: 0.9rem;
}

main .box-image{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    gap: 30px;

}

main .box-image h2{

    font-size: 1rem;
    margin-top: 1rem;

}

main .box-image a img{

    height: 60%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}


/* Segundo coteiner */

main .box-son h2{

    font-size: 1rem;
    text-align: center; 
}

main .box-son button{

    width: 80%;
    font-size: 0.8rem;
    
}

main .box-son p{

    font-size: 0.8rem;
}

main .box-son2{

    
}

main .box-son2 h2{

    font-size: 1rem;
}
main .box-son2 p{

    font-size: 0.8rem;
}

main .box-son2 button{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7rem;
}

main .box-son2 button:hover{

    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.712);
    border: none;
}
}



@media (min-width: 1000px) and (max-width: 1300px){


    header{

        display: flex;
        height: 10vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: rgb(19,34,53);

    }

#image{

    height: 100%;
    width: 11%;
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

#icon{

    display:flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;


}

header  a{

    cursor: pointer;
    color: aliceblue;

}


main{

    margin-top: 55px;
}

main .box-main button{
    
    height: 5vh;
    width: 50%;
    font-size: 0.9rem;

}
}

