*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
} 

header{

    display: flex;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    background-color: rgb(19,34,53);
}
header #image{

    height: 95.5%;
    width: 10vw; 
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu{

    display: flex;
    width: 55%;
    justify-content: space-between;    
    
}

#icon{

    display: flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;
}

header  a{

    cursor: pointer;
    color: whitesmoke;

}
main{

    background-color: rgb(19,34,53);
    color: whitesmoke;
} 

main .main-conteiner{

    display: flex;
    flex-direction: column;
    height: 100vh;
    color: whitesmoke;
    width: 100vw;
}
 
main .son-conteiner{

    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    height: 50%;
    color: whitesmoke;
    width: 90%;
} 


main .main-conteiner  .reserve{

    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
main .main-conteiner .table{

    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh;
    width: 100%;
    gap:0.5rem;
}

main .son-conteiner2{

    display: flex;
    flex-direction: column;
}

main .main-conteiner button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 5vh;
    width: 10%;
    cursor: pointer;
    border-radius: 12px;
}

main .main-conteiner button:hover{

    background-color: rgba(255, 255, 255, 0.589);
    transition: 4s;
}

.baseboard{

    display: flex;
    flex-direction: column;
    height:45vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(19,34,53);
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}


