*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
} 

header{

    display: flex;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    background-color: rgb(19,34,53);
}
header #image{

    height: 95.5%;
    width: 10vw; 
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.menu-faketrigger{

    display: none;
}

#menu{

    display: flex;
    width: 55%;
    justify-content: space-between;    
    
}

#icon{

    display: flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;
}

header  a{

    cursor: pointer;
    color: whitesmoke;

}
main{

    background-color: rgb(19,34,53);
    color: whitesmoke;
} 

main .main-conteiner{

    display: flex;
    flex-direction: column;
    height: 100vh;
    color: whitesmoke;
    width: 100vw;
}
 
main .son-conteiner{

    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    height: 50%;
    color: whitesmoke;
    width: 90%;
} 


main .main-conteiner  .reserve{

    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
main .main-conteiner .table{

    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh;
    width: 100%;
    gap:0.5rem;
}

main .son-conteiner2{

    display: flex;
    flex-direction: column;
}

main .main-conteiner button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 5vh;
    width: 10%;
    cursor: pointer;
    border-radius: 12px;
}

main .main-conteiner button:hover{

    background-color: rgba(255, 255, 255, 0.589);
    transition: 4s;
}

.baseboard{

    display: flex;
    flex-direction: column;
    height:45vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(19,34,53);
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}


/* RESPONSIVIDADE*/

@media screen and ( max-device-width: 480px){

    header #image{

        height: 91%;
        width: 28vw; 
    }
    
    nav #menu{

        display: none;
        margin-top: 15px;
        margin-left: 20px;
        gap: 7px;
    }
    
    nav .menu-lines{
        
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
    }
    
    nav .menu-lines span{
    
        display: flex;
        width: 30px;
        height: 3px;
        margin-bottom: 3px;
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 0.6s;
    }
    
    nav .menu-faketrigger{
    
        display: block;
        position: absolute;
        z-index: 1000;
        width: 30px;
        height: 3px;
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked~#menu {
    
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 998;
        left: 0;
        top: 0;
        width: 300px;
        height:50% ; 
        padding-top:25px ;
        font-size: 0.6rem;
        
    }
    
    nav .menu ul li {
    
        padding: 10px 30px;
    }
    
    nav .menu  li a{
    
        text-decoration: none;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    
        transform-origin: 0% 0%;
        transform: rotate(25deg) scaleX(1);
    
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    
        
        transform-origin: 0% 100%;
        transform: rotate(-25deg) scaleX(1);
    
    }
    
#icon{

    display: none;
}

 .main-conteiner .son-conteiner .reserve{
        
   
    font-size: 0.8rem;
}

.main-conteiner .son-conteiner .table{


    flex-wrap: wrap;
    height: 80%;
    gap: 1rem;
    font-size: 0.7rem;
}

.main-conteiner .son-conteiner .table label{

    font-size: 0.6rem;
}

.main-conteiner .son-conteiner .table input{

    width: 68%;
}
.main-conteiner .son-conteiner .table button{

    width: 40%;
}

/*cc*/
.main-conteiner .son-conteiner2 .reserve{
        
   
    font-size: 0.8rem;
}

.main-conteiner .son-conteiner2 .table{


    flex-wrap: wrap;
    height: 90%;
    gap: 1rem;
    font-size: 0.5rem;
}

.main-conteiner .son-conteiner2 .table label{

    font-size: 0.7rem;
}

.main-conteiner .son-conteiner2 .table input{

    width: 60%;
}
.main-conteiner .son-conteiner2 .table button{

    width: 40%;
}

.baseboard{

    height: 20vh;
    font-size: 0.9rem;
    gap: 10px;
}

.baseboard h2{

    font-size: 0.9rem;    
}
}

@media (min-width: 481px) and (max-width: 725px){

    header #image{

        height: 94%;
        width: 20vw; 
    }
    
    nav #menu{

        display: none;
        margin-top: 15px;
        margin-left: 20px;
        gap: 7px;
    }
    
    nav .menu-lines{
        
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
    }
    
    nav .menu-lines span{
    
        display: flex;
        width: 30px;
        height: 3px;
        margin-bottom: 3px;
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 0.6s;
    }
    
    nav .menu-faketrigger{
    
        display: block;
        position: absolute;
        z-index: 1000;
        width: 30px;
        height: 3px;
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked~#menu {
    
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 998;
        left: 0;
        top: 0;
        width: 300px;
        height:50% ; 
        padding-top:25px ;
        font-size: 0.6rem;
        
    }
    
    nav .menu ul li {
    
        padding: 10px 30px;
    }
    
    nav .menu  li a{
    
        text-decoration: none;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    
        transform-origin: 0% 0%;
        transform: rotate(25deg) scaleX(1);
    
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    
        
        transform-origin: 0% 100%;
        transform: rotate(-25deg) scaleX(1);
    
    }
    
#icon{

    display: none;
}


.main-conteiner .son-conteiner .reserve{
        
   
    font-size: 0.6rem;
}

.main-conteiner .son-conteiner .table{


    flex-wrap: wrap;
    height: 80%;
    gap: 1rem;
    font-size: 0.8rem;
}

.main-conteiner .son-conteiner .table label{

    font-size: 0.8rem;
}

.main-conteiner .son-conteiner .table input{

    width: 75%;
}
.main-conteiner .son-conteiner .table button{

    width: 35%;
}

/*cc*/
.main-conteiner .son-conteiner2 .reserve{
        
   
    font-size: 0.7rem;
}

.main-conteiner .son-conteiner2 .table{


    flex-wrap: wrap;
    height: 90%;
    gap: 1rem;
    font-size: 0.5rem;
}

.main-conteiner .son-conteiner2 .table label{

    font-size: 0.7rem;
}

.main-conteiner .son-conteiner2 .table input{

    width: 80%;
}
.main-conteiner .son-conteiner2 .table button{

    width: 40%;
}


.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 0.9rem;    
}

}
@media (min-width: 725px) and (max-width: 1000px){

    
    header #image{

        height: 80%;
        width: 15vw; 
    }
    
nav{
    
    display: flex;
    font-size: 0.7rem;

}

#icon{

    display: flex;
    font-size: 0.9rem;
    gap: 1rem;
    
}

.main-conteiner .son-conteiner .reserve{
        

    font-size: 0.8rem;
}

.main-conteiner .son-conteiner .table{

flex-wrap: wrap;
height: 85%;
}

.main-conteiner .son-conteiner .table label{

    display: flex;
    font-size: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main-conteiner .son-conteiner .table input{

    width: 90%;
}
.main-conteiner .son-conteiner .table button{

    width: 30%;
}

/*cc*/

.main-conteiner .son-conteiner2 .reserve{
        

    font-size: 0.8rem;
}

.main-conteiner .son-conteiner2 .table{

flex-wrap: wrap;
height: 85%;
}

.main-conteiner .son-conteiner2 .table label{

    display: flex;
    font-size: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main-conteiner .son-conteiner2 .table input{

    width: 90%;
}
.main-conteiner .son-conteiner2 .table button{

    width: 30%;
}


.baseboard{

    height:45vh;
    font-size: 1rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 1rem;    
}
}
@media (min-width: 1000px) and (max-width: 1300px){

    header #image{

        height: 85%;
        width: 20vw; 
    }
    
nav{

    font-size: 1rem;

}
#icon{

    font-size: 1rem;
    gap: 1rem;
    
}

.main-conteiner .son-conteiner .reserve{
        

    font-size: 1rem;
}

.main-conteiner .son-conteiner .table{

flex-wrap: wrap;
height: 78%;
}

.main-conteiner .son-conteiner .table label{

    
    font-size: 1rem;
    width: 50%;
   
}

.main-conteiner .son-conteiner .table input{

    width: 40%;
}
.main-conteiner .son-conteiner .table button{

    width: 20%;
}


/*cc*/

.main-conteiner .son-conteiner2 .reserve{
        

    font-size: 1rem;
}

.main-conteiner .son-conteiner2 .table{

flex-wrap: wrap;
height: 80%;
}

.main-conteiner .son-conteiner2 .table label{

    
    font-size: 1rem;
    width: 50%;
   
}

.main-conteiner .son-conteiner2 .table input{

    width: 40%;
}
.main-conteiner .son-conteiner2 .table button{

    width: 30%;
}



.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 1.2rem;    
}    
}