*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{

    display: flex;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    background-color: rgb(19,34,53);
}
header #image{

    height: 95.5%;
    width: 10vw;
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.menu-faketrigger{

    display: none;
}

#menu{

    display: flex;
    width: 90%;
    justify-content: space-evenly;

}

#icon{

    display: flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    font-size: 1.2rem;
}

header  a{

    cursor: pointer;
    color: whitesmoke;

}

div{

    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}
main{

    background-color: rgb(19,34,53);
    color: whitesmoke;
}
main #main-conteiner{

    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top:70px;
}
#main-conteiner .son-conteiner{

    display: flex;
    flex-direction: column;
    background-color: rgb(19,34,53);
}

#main-conteiner .son-conteiner table{

    display: flex;
    text-align: center;
    height: 30vh;
}

#main-conteiner .son-conteiner table th{

    padding: 1rem;
}

#main-conteiner .son-conteiner button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 5vh;
    width: 12%;
    cursor: pointer;
    border-radius: 12px;

}
#main-conteiner .son-conteiner button:hover{

    background-color: rgba(255, 255, 255, 0.589);
    transition: 4s;
}
#main-conteiner .son-conteiner img{

    display: flex;
    flex-direction:row;
    width: 32.9vw;
    height: 50vh;
}

#main-conteiner .son-conteiner .son{

    display: flex;

}


.baseboard{

    display: flex;
    height: 45vh;
    flex-direction: column;
    height:45vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(19,34,53);
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
}


/*RESPONSIVIDADE*/

@media screen and ( max-device-width: 480px){

header{

    height: 12vh;
}
header #image{

        height: 90%;
        width: 25vw;
}

nav #menu{

    display: none;
    margin-top: 30px;
    margin-left: 40px;
    gap: 7px;
}

nav .menu-lines{

    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .menu-lines span{

    display: flex;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
    background-color: whitesmoke;
    border-radius: 3px;
    transition: 0.6s;
}

nav .menu-faketrigger{

    display: block;
    position: absolute;
    z-index: 1000;
    width: 30px;
    height: 3px;
    opacity: 0;
}

nav .menu-faketrigger:checked~#menu {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height:50% ;
    padding-top:25px ;
    font-size: 0.6rem;

}

nav .menu ul li {

    padding: 10px 30px;
}

nav .menu  li a{

    text-decoration: none;
}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){

    transform-origin: 0% 0%;
    transform: rotate(25deg) scaleX(1);

}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){

    opacity: 0;
}

nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){


    transform-origin: 0% 100%;
    transform: rotate(-25deg) scaleX(1);

}

#icon{

    display: none;
}

#main-conteiner .son-conteiner img{

    height: 20vh;
}

#main-conteiner .son-conteiner table th{

    padding: 0;
    padding-top: 4%;
}

#main-conteiner .son-conteiner table {

    font-size: 0.7rem;
}

#main-conteiner .son-conteiner button{


    height: 5vh;
    width: 40%;
    font-size: 0.7rem;

}

.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 0.9rem;
}
}

@media (min-width: 481px) and (max-width: 725px){

    header #image{

        height: 97%;
        width: 20vw;
    }

    nav #menu{

        display: none;
        margin-top: 30px;
        margin-left: 40px;
        gap: 7px;
    }
    
    nav .menu-lines{
    
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav .menu-lines span{
    
        display: flex;
        width: 30px;
        height: 3px;
        margin-bottom: 3px;
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 0.6s;
    }
    
    nav .menu-faketrigger{
    
        display: block;
        position: absolute;
        z-index: 1000;
        width: 30px;
        height: 3px;
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked~#menu {
    
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 998;
        left: 0;
        top: 0;
        width: 300px;
        height:50% ;
        padding-top:25px ;
        font-size: 0.6rem;
    
    }
    
    nav .menu ul li {
    
        padding: 10px 30px;
    }
    
    nav .menu  li a{
    
        text-decoration: none;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    
        transform-origin: 0% 0%;
        transform: rotate(25deg) scaleX(1);
    
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    
        opacity: 0;
    }
    
    nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    
    
        transform-origin: 0% 100%;
        transform: rotate(-25deg) scaleX(1);
    
    }
    
#icon{

    display: none;
}

#main-conteiner .son-conteiner img{

    height: 20vh;
}

#main-conteiner .son-conteiner table th{


    padding-top: 4%;
}

#main-conteiner .son-conteiner table {

    font-size: 0.7rem;
}

#main-conteiner .son-conteiner button{


    height: 5vh;
    width: 40%;
    font-size: 0.7rem;

}

.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 0.9rem;
}

}
@media (min-width: 725px) and (max-width: 1000px){


    header #image{

        height: 85%;
        width: 20vw;
    }

nav{

    font-size: 0.7rem;

}
#icon{

    font-size: 0.9rem;
    gap: 1rem;

}

#main-conteiner .son-conteiner img{

    height: 20vh;
}

#main-conteiner .son-conteiner table th{


    padding-top: 4%;
}

#main-conteiner .son-conteiner table {

    font-size: 0.9rem;
}

#main-conteiner .son-conteiner button{


    height: 5vh;
    width: 20%;
    font-size: 0.7rem;

}

.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 1rem;
}
}
@media (min-width: 1000px) and (max-width: 1300px){

    header #image{

        height: 80%;
        width: 10vw;
    }

nav{

    font-size: 1rem;

}
#icon{

    font-size: 1rem;
    gap: 1rem;

}

#main-conteiner .son-conteiner img{

    height: 20vh;
}

#main-conteiner .son-conteiner table th{


    padding-top: 4%;
}

#main-conteiner .son-conteiner table {

    font-size: 0.9rem;
}

#main-conteiner .son-conteiner button{


    height: 5vh;
    width: 20%;
    font-size: 0.7rem;

}

.baseboard{

    height:45vh;
    font-size: 0.9rem;
    gap: 15px;
}

.baseboard h2{

    font-size: 1rem;
}
}